/*@import "tailwindcss";*/

@layer base {
    h1 {
        font-size: var(--text-4xl);
    }
    h2 {
        font-size: var(--text-3xl);
    }
}


/* globals.css */

/* Base container padding */
.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

/* sm: 640px */
@media (min-width: 640px) {
    .container {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

/* lg: 1024px */
@media (min-width: 1024px) {
    .container {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

/* xl: 1280px */
@media (min-width: 1280px) {
    .container {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}

/* 2xl: 1536px */
@media (min-width: 1536px) {
    .container {
        padding-left: 6rem;
        padding-right: 6rem;
    }
}


.section-box {
    @apply py-10
}
