@import "tailwindcss";


/* Custom HTML Tags */

@layer base {
    /*h1 {*/
    /*    font-size: var(--text-4xl);*/
    /*}*/
    /*h2 {*/
    /*    font-size: var(--text-3xl);*/
    /*}*/
    /*h3 {*/
    /*    font-size: var(--text-2xl);*/
    /*}*/

    h1 {
        font-size: var(--text-3xl);
    }
    h2 {
        font-size: var(--text-2xl);
    }
    h3 {
        font-size: var(--text-xl);
    }




}

/* Custom Tailwind CSS */
@layer components {



}



/* globals.css */

/* Base container padding */
.container {
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
}

/* sm: 640px */
@media (min-width: 640px) {
    .container {
        padding-left: 2rem;
        padding-right: 2rem;
    }

}

/* md: 768px */
@media (min-width: 768px) {
    .container {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

/* lg: 1024px */
@media (min-width: 1024px) {
    .container {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    h1 {
        font-size: var(--text-4xl);
    }

}

/* xl: 1280px */
@media (min-width: 1280px) {
    .container {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}

/* 2xl: 1536px */
@media (min-width: 1536px) {
    .container {
        padding-left: 6rem;
        padding-right: 6rem;
    }
}













/* Custom CSS */

.cus_Link {
    @apply hover:underline hover:text-fuchsia-600
}

.sectionHeader-primary {
    /*background: var(--color-sky-700);*/
    color: var(--color-white);
    padding-top: 40px;
    padding-bottom: 40px;

    @apply bg-blue-500
    /*font-weight: bold;*/
}

.btn-primary {
    @apply block text-center mt-3 border-2 py-2 px-16  font-semibold
    hover:bg-blue-500 hover:text-white hover:underline
}


